<%= render 'shared/page_title', title: "All Contests" %>

<%= will_paginate %>

<% @contests.each do |contest| %>
  <div class="row">
    
      <div class="col-md-2">
        <section class="visitor_info center">
          
          
            
        </section>
         
      </div>
      
      <div class="col-lg-6 well">
        <h4><%= link_to contest.img_name, contest_path(contest) %></h4>
        <p><%= contest.img_summary %></p>
        <p>
          <span class='quiet'><small> uploaded: <%= time_ago_in_words(contest.created_at) %> ago, </small></span>
          <span class='quiet'><small> updated: <%= time_ago_in_words(contest.updated_at) %> ago</small></span>
        </p>
        <div class="pull-right">
          <%= link_to like_contest_path(contest, like: true), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= contest.thumbs_up_total %>
          <% end %> &nbsp&nbsp&nbsp&nbsp
          <%= link_to like_contest_path(contest, like: false), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= contest.thumbs_down_total %>
          <% end %>
    </div>
      </div>
      <div class="col-md-4">
        <%= image_tag(contest.picture.url, size: "250x150", class: "gravatar") if contest.picture? %>
      </div>
  </div>
  <hr/>
<% end %>

<%= will_paginate %>