<%= render 'shared/page_title', title: @contest.img_name %>

<div class = "row">
  
    <p>
      <h5>Uploaded by: <%= @contest.visitor.visitorname %></h5>
    </p>
  
</div>
<div class="col-md-8">
  <%= link_to "Edit image", edit_contest_path(@contest), class: "btn btn-success pull-right" %>
  <h3><%= @contest.img_summary %></h3>
  <div class="show_contest">
    <%= image_tag(@contest.picture.url) if @contest.picture? %> 
  </div>
  <div class="well">
    <%= simple_format(@contest.img_description) %>
    </div>
  </div>
</div>


<h5>
  <%= link_to "Return to Contests listing", contests_path, class: "btn btn-warning btn-small" %></h5>
</h5>

</div>